<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.holaci24.pluginHola"
        version="1.0.0">

    <name>PluginHola</name>
 <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
         <asset src="www/hola.js" target="js/hola.js"/>
        <js-module src="www/hola.js" name="hola">
<clobbers target="saludo" />
   
  </js-module> 
    <platform name="android">
             <config-file target="AndroidManifest.xml" parent="/*">
     </config-file>
 <config-file target="res/xml/config.xml" parent="/*">
      <feature name="PluginHola">
        <param name="android-package" value="com.holaci24.pluginHola.holaFuncion"/>
      </feature>
    </config-file>
   

    <source-file src="src/android/holaFuncion.java" target-dir="src/com/holaci24/pluginHola/"/>
   
    
  </platform>
    
</plugin>
